{% extends 'header.html' %}

{% block content %}
<style>
  body {
    background-color: #101010; /* Fondo negro */
    color: white; /* Texto blanco */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente Helvetica */
  }

  .text-center {
    color: white; /* Texto blanco */
  }

  .form-control, .btn-outline-success, .page-link, .card {
    background-color: #3A3A3A; /* Fondo gris */
    color: white; /* Texto blanco */
  }

  .btn-outline-success:hover {
    background-color: #4CAF50; /* Fondo verde al pasar el mouse */
    color: white; /* Texto blanco */
  }

  .card {
    background-color: #3A3A3A; /* Fondo gris */
    color: white; /* Texto blanco */
  }

  .card-body, .card-footer {
    background-color: #3A3A3A; /* Fondo gris */
  }

  .page-item.disabled .page-link, .page-item.active .page-link {
    background-color: #555555; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
  }

  .page-item .page-link {
    color: white; /* Texto blanco */
  }

  .page-item .page-link:hover {
    background-color: #818181; /* Fondo gris claro al pasar el mouse */
    color: white; /* Texto blanco */
  }

  .card-img-top {
    width: 100%; /* Ancho completo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Ajuste de imagen */
  }

  .btn-primary {
    background-color: #007BFF; /* Fondo azul */
    color: white; /* Texto blanco */
  }

  .btn-primary:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
    color: white; /* Texto blanco */
  }

  .form-control {
    background-color: #3A3A3A; /* Fondo gris */
    color: white; /* Texto blanco */
    border: 1px solid #555555; /* Borde gris oscuro */
  }

  .form-control:focus {
    background-color: #3A3A3A; /* Fondo gris */
    color: white; /* Texto blanco */
    border-color: #4CAF50; /* Borde verde */
  }

  .form-group label {
    color: white; /* Texto blanco */
  }
</style>

<main>
  <h1 class="text-center">Galería de Imágenes de la NASA</h1>
  <div class="d-flex justify-content-center" style="margin-bottom: 1%">
    <!-- Buscador del sitio -->
    <form class="d-flex" action="{% url 'buscar' %}" method="GET">
      {% csrf_token %}
      <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>

  <!-- Dropdown para seleccionar el número de elementos por página -->
  <div class="d-flex justify-content-center" style="margin-bottom: 1%">
    <form method="GET" id="itemsPerPageForm">
      <input type="hidden" name="query" value="{{ query }}">
      <label for="itemsPerPage" style="color: white;">Imágenes por página:</label>
      <select name="itemsPerPage" id="items_per_page" class="form-control" style="width: auto;" onchange="document.getElementById('itemsPerPageForm').submit();">
        <option value="5" {% if items_per_page == 5 %}selected{% endif %}>5</option>
        <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
        <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
      </select>
    </form>
  </div>

  <!-- Mostrar mensajes flash con SweetAlert2 -->
  {% if messages %}
    {% for message in messages %}
      <script>
        Swal.fire({
          icon: "{{ message.tags }}",
          title: "{{ message.tags }}",
          text: "{{ message }}",
          showConfirmButton: false,
          timer: 3000  // Mostrar por 3 segundos
        });
      </script>
    {% endfor %}
  {% endif %}

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for imagen in page_obj %}
    <div class="col">
      <div class="card">
        <img src="{{ imagen.image_url }}" class="card-img-top" alt="imagen" />
        <div class="card-body">
          <h5 class="card-title">{{ imagen.title }}</h5>
          <p class="card-text">{{ imagen.description }}</p>
        </div>
        {% if request.user.is_authenticated %}
        <div class="card-footer text-center">
          {% if imagen in favourite_list %}
            <button type="button" class="btn btn-primary btn-sm float-left" style="color: white" disabled>
              ✔️ Ya está añadida a favoritos
            </button>
          {% else %}
            <form method="post" action="{% url 'agregar-favorito' %}">
              {% csrf_token %}
              <input type="hidden" name="title" value="{{ imagen.title }}" />
              <input type="hidden" name="description" value="{{ imagen.description }}" />
              <input type="hidden" name="image_url" value="{{ imagen.image_url }}" />
              <input type="hidden" name="date" value="{{ imagen.date }}" />
              <div class="form-group">
                <label for="comentario">Comentario</label>
                <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-sm float-left" style="color: white">
                ❤️ Añadir a favoritos
              </button>
            </form>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Paginación -->
  <div class="d-flex justify-content-center mt-4">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1&itemsPerPage={{ items_per_page }}&query={{ query }}">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&itemsPerPage={{ items_per_page }}&query={{ query }}"> < </a>
      </li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">1</span></li>
      <li class="page-item disabled"><span class="page-link"> < </span></li>
      {% endif %}

      <li class="page-item active mx-1"><span class="page-link">{{ page_obj.number }}</span></li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&itemsPerPage={{ items_per_page }}&query={{ query }}"> ></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&itemsPerPage={{ items_per_page }}&query={{ query }}">Última</a>
      </li>
      {% else %}
      <li class="page-item disabled"><span class="page-link"> > </span></li>
      <li class="page-item disabled"><span class="page-link">Última</span></li>
      {% endif %}
    </ul>
  </div>
</main>
{% endblock %}
