{% extends 'header.html' %} 
{% block content %}
<style>
    body {
        background-color: #101010;
        font-family: Helvetica, Arial, sans-serif;
        color: white;
    }
    .login-form {
        text-align: center;
        margin-top: 20px; /* Ajusta según sea necesario */
    }
    .form-control {
        background-color: #303030;
        color: white;
        border: 1px solid #505050;
    }
    .form-control::placeholder {
        color: #808080;
    }
    .btn-primary {
        background-color: #303030;
        color: #808080;
        border: 1px solid #505050;
    }
    .btn-primary:hover {
        background-color: #505050;
        color: white;
    }
</style>
<div class="login-form">
    <form action="{% url 'login' %}" method="POST" style="display: inline-block;">
        {% csrf_token %}
        <h2 class="text-center">Inicio de sesión</h2>
        <div class="form-group" style="margin-bottom: 5%;">
            <input type="text" name="username" id="username" class="form-control" placeholder="Usuario" required="required">
        </div>
        <div class="form-group" style="margin-bottom: 5%;">
            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </div>
    </form>
</div>
{% endblock %}